#App {
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-color: black;
  color: white;
  padding-top: 15px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

@media only screen and (min-width: 1360px) {
  #movielist {
    width: 100% !important;
  }
}
